* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
body {
  background-color: rgb(232, 232, 232);
}

.list {
  max-width: 640px;
  width: calc(100% - 20px);
  margin: 20px auto;
  background-color: #fff;
}
/* nth-child(2n) =>2배수
nth-child(odd) => 홀수
nth-child(even) => 짝수 */
 
.list ul li::before {
  content: '📣';
  margin-right: 5px;
  display: inline-block;
}
.list ul li:nth-child(2n)::before {
  content: '💕';
}
.list ul li {
  padding: 15px 5px;
  /* padding-left: 10px; */
  border-bottom: 1px dashed #eee;
  position: relative;
}
.list ul li span::before {
  content: '🗑️';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}